@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: "Open Sans", sans-serif;
}
